{% extends "base.html" %}

{% block content %}
{% include "object_decoration.html" with icon="icon-list" title=list.name %}
<h2 class="muted">{{ list.comment }}</h2>
<p><a href="" class="btn btn-primary">Share List</a></p>

<p>A list by {{ list.owner }}</p>
<p>Occasion date : {{ list.target_date }}</p>

<a href="{% url edit_list list.id %}"><i class="icon-edit"></i> edit</a> | <a href="{% url delete_list list.id %}"><i class="icon-trash"></i> delete</a>
<hr/>

{% include "table_decoration.html" with icon="icon-gift" title="Gifts" %}
{% include "gifts_table.html" with gift_list=list.get_gifts %}
<a href="{% url add_gift list.id %}"><i class="icon-plus"></i> add gift</a>

{% endblock %}