{% extends "base.html" %}

{% block content %}
{% include "object_decoration.html" with icon="icon-gift" title=gift.name %}

<p class="lead">{{ gift.description }}</p>
<p>Status: <span class="{% include "status_class.html" %}">{{ gift.get_status_display }}</span></p>

<p>On lists:</br>
{% for list in gift.get_lists %}
<a href="{% url detail_list list.id%}">{{ list.name }}</a><br/>
{% endfor %}
</p>

<p>Links:<br/>
{% for link in gift.get_links %}
<i class="icon-link"></i> <a href="{{ link }}">{{ link }}</a><br/>
{% endfor %}
</p>


<div class="btn-group">
    <button class="btn">Reserve gift</button>
    <button class="btn btn-success">Set gift as bought</button>
</div>

{% endblock %}